* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    background-color: #F1F1F1;
    color: rgb(243, 242, 242);
}

header#header {
    margin: auto;
    width: 100%;
    height: 90px;
    position: fixed;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #747474;
    opacity: 0.97;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    box-shadow: 0 -1px 5px white;
    gap: 50px;
}

header#header:hover {
    box-shadow: 0 -1px 12px hsla(222, 62%, 10%);
}

header#header div#jobs {
    width: auto;
    height: 100px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
}

header#header div#jobs img {
    width: 60px;
    height: auto;
}

header#header div#jobs h1#title {
    font-size: 70px;
}

header#header div#nav {
    width: auto;
    height: 30px;
    margin-right: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 60px;
}

header#header div#nav a {
    font-size: 20px;
    text-decoration: none;
    color: rgb(243, 242, 242);
    opacity: 0.9;
}

header#header div#nav a:hover {
    color: hsla(222, 62%, 10%);
    border-bottom: 2px solid hsla(222, 62%, 10%);
    padding-bottom: 3px;
    opacity: 1;
}

main#main {
    position: relative;
    top: 110px;
    z-index: 1;
}

section#one {
    margin: auto;
    width: 98%;
    height: 460px;
    background: url("https://i.pinimg.com/originals/be/cb/ca/becbca09cc81c9ecd1ce133c836b3f25.gif") center;
    border-radius: 20px;
    border: hsl(222, 62%, 29%);
    opacity: 1;
    box-shadow: 0 -2px 5px hsla(222, 62%, 10%), 0 2px 5px hsla(222, 62%, 10%);
}

section#one:hover {
    box-shadow: 0 -3px 5px hsla(222, 62%, 10%), 0 3px 5px hsla(222, 62%, 10%);
}

section#one h2#sub-title1 {
    display: inline;
    font-size: 8vw;
    position: relative;
    left: 5vw;
    top: 20vw;
}

section#one p#message {
    display: inline;
    font-size: 5vw;
    font-weight: bold;
    position: relative;
    left: 20vw;
    top: 350px;
    opacity: 0.9;
}

section#two {
    margin: 30px 10px 30px 10px;
    width: 98%;
    height: auto;
    background-color: #747474;
    border-radius: 20px;
    box-shadow: 0 -1px 5px white;
}

section#two:hover {
    box-shadow: 0 -1px 3px hsla(222, 62%, 10%);
}

section#two h2#biografia {
    text-align: center;
    font-size: 6vw;
    padding-bottom: 10px;
}

section#two div#container {
    margin: 10px auto auto auto;
    padding: 10px 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
}

section#two div#container img {
    width: 395px;
    height: auto;
    border: solid 3px black;
    border-radius: 30px;
    opacity: 0.9;
    box-shadow: 0 3px 5px #413F42, 0 -3px 5px #413F42;
}

section#two div#container div#container-2 {
    width: auto;
    background-color: black;
    border-radius: 10px;
    padding: 10px;
    border: solid 3px black;
    box-shadow: 0 3px 5px #413F42, 0 -3px 5px #413F42;
}

section#two div#container div#container-2:hover,
section#two div#container img:hover {
    box-shadow: 0 4px 5px white, 0 -4px 5px white;
}

section#two div#container div#container-2 h3 {
    text-align: center;
    font-size: 3vw;
}

section#two div#container div#container-2 p {
    text-align: justify;
    color: rgb(218, 210, 201);
}

section#two div#container div#container-2 a,
footer#footer div#about-me p a {
    color: rgb(211, 194, 173);
    font-weight: bold;
}

section#two div#container div#container-2 a:hover,
footer#footer div#about-me p a:hover {
    color: white;
    text-decoration: none;
}

footer#footer {
    width: 100%;
    height: 100px;
    background-color: #000000;
    margin-top: 150px;
    position: relative;
    top: auto;
    bottom: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    flex-direction: column;
}

footer#footer div#thank {
    margin: auto;
}

footer#footer div#thank h2#title-footer {
    text-align: center;
    font-size: 3vw;
}

footer#footer div#about-me div {
    display: flex;
    justify-content: center;
}

footer#footer div#about-me {
    position: relative;
    width: auto;
    height: auto;
    bottom: 0px;
    color: rgb(211, 194, 173);
    text-align: center;
}

footer#footer div#about-me p i {
    margin: 0 5px;
    padding-bottom: 5px;
}

footer#footer div#about-me p i:hover {
    border-bottom: 1px solid white;
}

@media (max-width: 980px) {

    header#header {
        height: 110px;
        flex-direction: column;
        gap: 0px;
    }

    main#main {
        top: 130px;
    }
}

@media (max-width: 930px) {

    section#two div#container {
        flex-direction: column;
    }

    section#two div#container div#container-2 {
        max-width: 400px;
    }

    section#two div#container div#container-2 h3 {
        font-size: 30px;
    }

}

@media (max-width: 670px) {

    header#header div#jobs h1#title {
        font-size: 10vw;
    }

    footer#footer div#about-me div {
        flex-direction: column;
    }

}

@media (max-width: 460px) {

    header#header div#jobs img{
        width: 10vw;
    }

    header#header div#jobs h1#title {
        font-size: 8vw;
    }

    header#header div#nav {
        margin: auto;
        gap: 4vw;
    }

    header#header div#nav a {
        font-size: 5vw;
    }

    section#one p#message {
        left: 17vw;
    }

    section#two div#container img {
        width: 80vw;
    }

    section#two div#container div#container-2 h2 {
        font-size: 8vw;
    }

    footer#footer div#thank h2#title-footer {
        font-size: 4vw;
    }

    footer#footer div#about-me div p {
        font-size: 3vw;
    }

}